@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customize the scrollbar width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Customize the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

  @layer utilities{
    .paused{
      animation-play-state: paused;
    }
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Montserrat, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }
  
 
